/* STATIC DASHBOARD DISPLAY BLOCKS */
.date-view-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-transform: lowercase;
  line-height: 1;
  overflow: auto
}

.date-view-wrapper span {
  font-size: 0.85rem;
  font-weight: 700;
}

.date-view-wrapper strong {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 10px 0;
}

.cal-view-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cal-title {
  font-size: 0.9rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.cal-grid-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.65rem;
  font-weight: 700;
  margin: 4px 0;
  opacity: 0.6;
}

.cal-grid-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.7rem;
  row-gap: 4px;
}

.cal-day-cell {
  padding: 2px 0;
  border-radius: 4px;
}

.cal-day-cell.active-today {
  background: var(--ui-accent);
  color: white !important;
  font-weight: 700;
}

.category-shortcut-card {
  background: #ffffff;
  border: 3px solid;
  border-radius: 14px;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 1px  rgba(237, 108, 179, 0.3);
  color: black;
}

.category-shortcut-card:hover {
  border-color: var(--ui-accent);
  box-shadow: 0 10px 15px -3px rgba(232, 96, 151, 0.35);
}

